	<header class="cover">
		<svg viewBox="0 0 100 100"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;}</style></defs><title>Writing</title><line class="cls-1" x1="27" y1="36.5" x2="27" y2="43.5"/><line class="cls-1" x1="26.5" y1="36.5" x2="73.5" y2="36.5"/><line class="cls-1" x1="27" y1="46.5" x2="27" y2="53.5"/><line class="cls-1" x1="26.5" y1="46.5" x2="73.5" y2="46.5"/><line class="cls-1" x1="27" y1="56.5" x2="27" y2="63.5"/><line class="cls-1" x1="26.5" y1="56.5" x2="73.5" y2="56.5"/></svg>
	</header>

<h1>The Collection</h1>

<p>The collection is my content graveyard; It's made of the things that didn't quite make it to the projects, or weren't mine and I just wanted to save. It's like a blog, but for more than just writing.</p>

<div class="collection-list">
	<h4>Text</h4>

	<%# display all posts by category %>
	<% var i = 0;

	for (var slug in public.collection.writing._data) {

		if (slug != 'index') { // skip the index %>

		<h3><a href="/collection/writing/<%= slug %>"><%= i + " ~~ " + slug %></a></h3>

	<% i += 1; }} // end loop %>

	<h4>Code</h4>

	<% 
		for (var code in public.collection.code._data) {
			if (code != 'index') { // skip the index %>

			<h3><a href="/collection/code/<%= code %>"><%= i + " ~~ " + code %></a></h3>
		
		<% i += 1; }} // end code loop %>

		<h4>Video</h4>

		<% 
			for (var video in public.collection.video._data) {
				if (video != 'index') { // skip the index %>

				<h3><a href="/collection/video/<%= video %>"><%= i + " ~~ " + video %></a></h3>
			
			<% i += 1; }} // end video loop %>
</div>