<% page.title = 'Works' %>
<h1 class="page-title text-center" aria-hidden="true"><span class="icon-work">✯</span></h1>

<div id="project-filters">
	<a href="#" data-filter="*">All</a>
	<a href="#hardware" data-filter="hardware">Hardware</a>
	<a href="#web" data-filter="web">Web Design</a>
	<a href="#code" data-filter="code">Programming</a>
	<a href="#game" data-filter="game">Game Design</a>
	<a href="#photo" data-filter="photo">Photography</a>
	<a href="#print" data-filter="print">Print Design</a>
</div>

<div class="projects">
  <%# display all posts by category %>
  <% for (let i = 0; i < site.projects.length; i++) {
    const page = site.projects[i].page %>
  <a
    href="/projects/<%= page.slug %>"
    class="project card <%= Array.isArray(page.category) ? page.category.toString().replace(',', ' ') : page.category %>"
    style="background-color: #<%= page.tc %>"
    >
    <div
      class="card-image"
      style="
        background-image: url('/assets/img/work/thumbs/dither-<%= page.slug %>.png.png');
      "
    ></div>
    <div class="overlay">
      <h3><%= page.title %></h3>
      <p><%= page.description %></p>
    </div>
  </a>

  <% } // end loop %>
</div>

<script>
const items = document.querySelectorAll('.project')
const filters = document.getElementById('project-filters').querySelectorAll('a')
let currentFilter = new URL(document.URL).hash.replace('#', '') || '*'

filters.forEach(filter => {
	filter.addEventListener('click', () => {
		currentFilter = filter.attributes['data-filter'].value
		show()
		highlight()
	})
});

function highlight () {
	filters.forEach(filter => {
		if (filter.attributes['data-filter'].value === currentFilter) {
			filter.style = "text-decoration: underline; font-weight: bold"
		} else {
			filter.style = ""
		}
	})
}

function show () {
	Array.from(items).forEach(item => {
		if (currentFilter != '*') {
			if (!item.classList.contains(currentFilter)) {
				item.style.display = 'none'
			} else {
				item.style.display = 'block'
			}
		} else {
			item.style.display = 'block'
		}
	})
}

show()
highlight()
</script>
