<% page.title = 'Works' %>
<h1 class="page-title text-center" aria-hidden="true"><span class="icon-work">✯</span></h1>

<div id="project-filters">
	<a href="#" data-filter="*">All</a>
	<a href="#web" data-filter="web">Web Design</a>
	<a href="#code" data-filter="code">Programming</a>
	<a href="#game" data-filter="game">Game Design</a>
	<a href="#photo" data-filter="photo">Photography</a>
	<a href="#print" data-filter="print">Print Design</a>
</div>

<div class="projects">
  <%# display all posts by category %>
  <% for (let i = 0; i < site.projects.length; i++) {
    const page = site.projects[i].page %>
  <a
    href="/projects/<%= page.slug %>"
    class="project card <%= Array.isArray(page.category) ? page.category.toString().replace(',', ' ') : page.category %>"
    style="background-color: #<%= page.tc %>"
    >
    <div
      class="card-image"
      style="
        background-image: url('/assets/img/work/thumbs/dither-<%= page.slug %>.png.png');
      "
    ></div>
    <div class="overlay">
      <h3><%= page.title %></h3>
      <p><%= page.description %></p>
    </div>
  </a>

  <% } // end loop %>
</div>

<script>
const items = document.querySelectorAll('.project')
const filters = document.getElementById('project-filters').querySelectorAll('a')
let currentFilter = '*'

filters.forEach(filter => {
	filter.addEventListener('click', () => {
		currentFilter = filter.attributes['data-filter'].value
		show()
	})
});

function show () {
	Array.from(items).forEach(item => {
		item.style.display = 'block'
	})
	if (currentFilter != '*') {
		const res = Array.from(items).filter(item =>
			!item.classList.contains(currentFilter)
		)
		res.forEach(item => {
			item.style.display = 'none'
		})
	}
}
</script>
