<% page.title = 'Tellum II dev log' %>
<main id="content" class="page">
  <article class="page about">
    <h2 class="page-title text-center">Tellum II dev log</h2>
    <p>This is a hidden page that will eventually be found among <code>/projects</code>.</p>

    <hr />
    <h3>Feb 08 progress</h3>
    <p>
      Additional reference links: <a id="a" href="https://wilderness.land/">1</a>,
      <a id="b" href="https://neal.fun/ten-years-ago/">2</a>,
      <a id="c" href="https://awp.diaart.org/closky/">3</a>,
      <a id="d" href="https://v-os.ca/Cartographer">4</a>.
    </p>
    <p>
      I won the bid on the phone and received the first SBC board, installed Linux and necessary
      components.
    </p>
    <p>
      Given cost, I may have to abandon subsequent nodes as with materials and shipping, a single node is
      in excess of $200, not including hosting.
    </p>
    <p>
      Given the reduced scope due to materials, I've modified the initial concept slightly from what was
      proposed below, leaning further on exploratory interfaces experienced through the box. The initial
      interfaces now lean more heavily on the phone booth, as does the overall aesthetic. A fair bit of
      material will be "pre-seeded", giving the zero-user state some spice for a first user to interact
      with. The phone booth is to be modified with a display, where a user may leave a sound and listen
      to others at a given location, not unlike Cartographer (2019)
      <sup>[<a href="#a">1</a>][<a href="#d">4</a>]</sup>.
    </p>

    <p>
      I'm interested in curating content that - through careful juxtaposition or mere contextual
      proximity to the rest - will evoke a similar <i>vibe</i> of amusing, melancholic quasi-nostalgia
      whiplash. One that's in my view found in both the <i>Out of Touch</i> video referenced below, and
      what I see in Closky's work listed above.<sup>[<a href="#c">3</a>]</sup> There's a current trend on
      TikTok in particular dubbed "corecore" that to some extent captures what I'm after, though it often
      leans too heavily on self-serious negativity, wandering into preachyness. As much as the trend
      draws from Adam Curtis (and he sure can be preachy) and I surely do as well, that isn't my aim.
      This sub-component of the project I'm describing, with pre-seeded material the user may explore,
      should feel akin to the memoery of moving through a forest as a child alone - a certain quiet
      thrill and mundane wistfulness.
    </p>

    <p>
      Sourcing content algorythmically may prove useful as in <i>Ten Years Ago</i
      ><sup>[<a href="#b">2</a>]</sup>, but I'm unlikely to find success there.
    </p>

    <pre>
        ___....___
        ^^                __..-:'':__:..:__:'':-..__
                      _.-:__:.-:'':  :  :  :'':-.:__:-._
                    .':.-:  :  :  :  :  :  :  :  :  :._:'.
                 _ :.':  :  :  :  :  :  :  :  :  :  :  :'.: _
                [ ]:  :  :  :  :  :  :  :  :  :  :  :  :  :[ ]
                [ ]:  :  :  :  :  :  :  :  :  :  :  :  :  :[ ]
       :::::::::[ ]:__:__:__:__:__:__:__:__:__:__:__:__:__:[ ]:::::::::::
       !!!!!!!!![ ]!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!![ ]!!!!!!!!!!!
       ^^^^^^^^^[ ]^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^[ ]^^^^^^^^^^^
                [ ]                                        [ ]
                [ ]                                        [ ]
          jgs   [ ]                                        [ ]
        ~~^_~^~/   \~^-~^~ _~^-~_^~-^~_^~~-^~_~^~-~_~-^~_^/   \~^ ~~_ ^
      </pre
    >
    <!-- via https://www.asciiart.eu/buildings-and-places/bridges -->

    <hr />

    <h3>Concept</h3>
    <img src="<%= site.basePath %>/assets/img/work/tellum-ii/IMG_2105.jpg" />
    <p>Tellum II, like it's predecessor, is a networked item exchange box for sounds.</p>
    <p>
      Through a certain whimsy in construction and strategic placement around the city, networked nodes
      of sound might delight Montrealers in the stories they hear from around town.
    </p>
    <h3>References</h3>
    <p>
      I take primary inspiration in the delight of perusing community libraries, though I confess I
      seldom ever find something I like.
    </p>
    <p>
      Slightly easier to exchange is a sentence, or a silly sound, so with some digital artifice, a
      suitable exchange can always be made.
    </p>
    <figure>
      <img
        src="<%= site.basePath %>/assets/img/work/tellum-ii/community_library.jpg"
        style="float: left; width: 50%" />
      <img
        src="<%= site.basePath %>/assets/img/work/tellum-ii/niantic.jpg"
        style="float: left; width: 50%" />
      <img src="<%= site.basePath %>/assets/img/work/tellum-ii/sound_tube.jpg" />
      <img src="<%= site.basePath %>/assets/img/work/tellum-ii/emile_et_moi.png" />
      <figcaption>
        Top to bottom, left to right: A community library box found in north America, Egress by Niantic,
        a pipe phone playground game, Emile et Moi by Philippe Grenon
      </figcaption>
    </figure>
    <p></p>
    <h3>Previous Work</h3>
    <figure>
      <img src="<%= site.basePath %>/assets/img/work/tellum-ii/geopolitics.png" />
    </figure>
    <p>
      I have previously worked on Tellum as a concept, executed instead as a web app. As fun as that was,
      the potential physicality of the experience was what I was after, and what I aim for now. I’m drawn
      to data representation and retrospectives with regard to politics and ecology, and always with a
      certain sense of whimsy. With Tellum II I hope to capture a certain sense of whimsy, but actually
      invite Montrealers to reflect on the city with the physical installation of real devices around
      town.
    </p>
    <p>The rest of my work is visible on this site <a href="<%= site.basePath %>/projects">here</a>.</p>
    <h3>Hardware & Stack</h3>
    <p>
      Individual nodes, for ease of deployment, will be built on industrial Linux SBCs. The remainder of
      each device is to be unique, largely built with materials I have already obtained: old telephones,
      speaker drivers, metal and wood enclosures, and concrete casts from 3D-printed molds.
    </p>
    <figure>
      <img src="<%= site.basePath %>/assets/img/work/tellum-ii/olimex.png" />
      <img src="<%= site.basePath %>/assets/img/work/tellum-ii/stack.png" />
      <figcaption>
        Top: The A64 Olimex SBC powering the project. Bottom: the software stack in use.
      </figcaption>
    </figure>
    <p>
      The app layer will be run on a Directus instance, serving user-generated audio files via a REST /
      GraphQL API. Each node will have a permanent token to authenticate against the server, preventing
      unauthorized use. Node.js serves Directus itself, as well as performing additional sanitization of
      inputs and audio routing. This as mentioned later, runs atop bare-metal Debian Linux.
    </p>
  </article>
</main>

<style>
  html {
    background: #f1f1f1;
  }
  code,
  pre {
    font-size: smaller;
  }
  h3 {
    font-family: 'Arial Unicode MS', sans-serif;
    margin-bottom: 20px;
    background: #1e202c;
    color: white;
    border-radius: 3px;
    padding: 1px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 4rem;
  }
</style>
