<main id="content" class="page about">
  <h1 class="page-title text-center" aria-hidden="true">֍</h1>
  <article class="page about" data-base="#6f6f6f" data-highlight="#efefe0">
    <p>I spent far too long in the planning phase.</p>

    <figure>
      <img src="<%= site.basePath %>/assets/img/other/site-0.jpg" />
      <img src="<%= site.basePath %>/assets/img/other/site-1.jpg" />
      <img src="<%= site.basePath %>/assets/img/other/site-2.jpg" />
    </figure>

    <p>
      My original plans called for something pretty ambitious and very cheesy: this sort of light
      metaphor with canvas that would 'illuminate' various sections of the site to traverse. It was meant
      to be an allusion to my past as a photographer, if you'll believe that.
    </p>

    <figure>
      <img src="<%= site.basePath %>/assets/img/other/site-3.jpg" />
    </figure>

    <p>
      The approach I had with this site was to create an experience, as alluded in the notes tucked away
      in these photographs, that was entirely comunicable though iconography.
    </p>

    <figure>
      <img src="<%= site.basePath %>/assets/img/other/site-4.jpg" />
    </figure>

    <p>
      In a grand defiance with what the web was meant for, I aimed at creating a site that needn't any
      translation, where text was just set dressing for the main event.
    </p>

    <figure>
      <img src="<%= site.basePath %>/assets/img/other/site-5.jpg" />
      <figcaption>The site is littered with icons for a reason.</figcaption>
    </figure>

    <p>
      The original icons that the first iteration of this site used were too inspired by camera markings
      and circuit diagrams, both of fields I deeply associate with and enjoy.
    </p>

    <p>
      In this current iteration, however, I've opted to only use UTF-8 icons, and load no external fonts
      or icons. I reduced social media glyphs to type, found suitable replacements for every icon, and
      built my site under the guiding principle that was energy efficiency.
    </p>

    <p>
      I've grown increasingly concious of the energy impact of the internet, and the slow reality of
      present-day website bloat.<br />
      Patterning myself after <a href="https://solar.lowtechmagazine.com">solar.lowtechmagazine.com</a>,
      I hope to one day run this site off of solar power, and these sorts of cuts were necessary.
    </p>

    <p>
      Like low tech, I've also adopted tiny, dithered images and creative use of CSS to get around their
      size. A toggle exists at the footer of each page to re-enable full-color images without first
      clicking on them, should the look detract too much.
    </p>

    <figure>
      <img src="<%= site.basePath %>/assets/img/other/site-6.jpg" />
      <img src="<%= site.basePath %>/assets/img/other/site-7.jpg" />
      <img src="<%= site.basePath %>/assets/img/other/site-8.jpg" />
    </figure>

    <p>Quite the adventure, isn't it?</p>

    <p>
      The original version of this site was built using the now-abandoned static site generator
      <a href="http://harpjs.com">harp</a>. I've since moved to what I could call a fork of
      <a href="https://github.com/doug2k1/nanogen">Nanogen</a>.
    </p>

    <p>
      The idea to go for a static site build was mostly born of curiosity, and I'd also grown a little
      tired with the needless complexity introduced by wordpress as a CMS for something so simple as a
      portfolio site. The original harpjs and this new static site generator already fit into the ideals
      of a low-power, fast and decentralizeable internet that I aspire to, so I'm glad I didn't need to
      convert from that.
    </p>

    <p>I don't think I miss the front-end.</p>

    <p>
      The rest of the design process is right here! You're looking at it. Nothing is hidden, and the code
      itself lives in a <a href="https://github.com/stockhuman/internaut">little repo</a> on Github.
    </p>

    <figure><div class="stats" data-project="Internaut"></div></figure>
  </article>
  <style type="text/css">
    #nav-main {
      color: white !important;
    }
    #nav-inner {
      animation: colorchange 50s;
      -webkit-animation: colorchange 50s;
      animation-iteration-count: infinite;
    }

    @keyframes colorchange {
      0% {
        background: red;
      }
      25% {
        background: yellow;
      }
      50% {
        background: blue;
      }
      75% {
        background: green;
      }
      100% {
        background: red;
      }
    }

    @-webkit-keyframes colorchange {
      0% {
        background: red;
      }
      25% {
        background: yellow;
      }
      50% {
        background: blue;
      }
      75% {
        background: green;
      }
      100% {
        background: red;
      }
    }
  </style>
</main>
