<div id="transitioner"></div>

<nav id="nav-main">
	<div id="nav-home-icon">
		<a href="<%= site.basePath %>/">
			<span class="icon-home">⌘</span>
			<p class="nav-link-text">Home</p>
		</a>
	</div>
	<div id="nav-inner">
		<ul class="nav-list-container">
			<li class="nav-list-item">
				<a href="<%= site.basePath %>/projects">
					<span class="icon-work">✯</span>
					<p class="nav-link-text">Works</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="<%= site.basePath %>/collection">
					<span class="icon-blog">☷</span>
					<p class="nav-link-text">Collection</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="<%= site.basePath %>/about">
					<span class="icon-about">◵</span>
					<p class="nav-link-text">About</p>
				</a>
			</li>
			<li class="nav-list-item">
				<a href="<%= site.basePath %>/contact">
					<span class="icon-contact">☍</span>
					<p class="nav-link-text">Contact</p>
				</a>
			</li>
		</ul>
	</div>

	<div id="nav-toggle">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div id="nav-social">
		<ul class="nav-social-container">

			<li class="nav-social-link">
				<a href="https://www.instagram.com/stockhuman/" aria-label="Instagram">
					<i>ig</i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://moth.social/@stockhuman" aria-label="Mastodon">
					<i>ms</i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://www.behance.net/stockhuman" aria-label="Behance">
					<i>be</i>
				</a>
			</li>

			<li class="nav-social-link">
				<a href="https://soundcloud.com/stockhuman" aria-label="Soundcloud">
					<i>sc</i>
				</a>
			</li>
		</ul>
	</div>
</nav>
