<%

const data = site.projects;
let prev, next

for (let i = 0; i < data.length; i++) {

	if (data[i].page.slug == page.slug) {
		prev = data[i - 1] ? data[i - 1].page : null
		next = data[i + 1] ? data[i + 1].page : null
	}
}
%>

<nav class="project-nav<% if (!prev) { %><%- ' no-prev' %><% }
		if (!next) { %><%- ' no-next' %><% } %>">

<% // check for and display link to previous page
	if (prev) { %>
		<a href="<%= site.basePath %>/projects/<%= prev.slug %>" class="project-nav-prev">
			<%= prev.title %>
		</a>
	<% } %>
		<a href="<%= site.basePath %>/projects/#<%= page.category %>" class="project-nav-cat"><%= page.category %></a>
		<a href="<%= site.basePath %>/projects/?year=<%= page.year %>" class="project-nav-year"><%= page.year %></a>
	<%
	// check for and display link to next page
	if (next) { %>
		<a href="<%= site.basePath %>/projects/<%= next.slug %>" class="project-nav-next">
			<%= next.title %>
		</a>
	<% } %>
</nav>
