<%

// declare the data array found in ./_data.json
const data = site.projects;

// traverse the iterable
for (let prop in data) {

	let i = Object.keys(data).indexOf(prop)

	if (page.slug == prop) {
		prev = Object.keys(data)[i - 1],
		next = Object.keys(data)[i + 1];
	%>

		<nav class="project-nav<% if (prev == 'index') { %><%- ' no-prev' %><% }
			 if (!next) { %><%- ' no-next' %><% } %>">

		<% // check for and display link to previous page
			if (prev != 'index') { %>
				<a href="<%= site.basePath %>/projects/<%= prev %>" class="project-nav-prev">
					<%= data[prev].title %>
				</a>
			<% } %>
				<a href="<%= site.basePath %>/projects/?cat=<%= page.category %>" class="project-nav-cat"><%= page.category %></a>
				<a href="<%= site.basePath %>/projects/?year=<%= page.year %>" class="project-nav-year"><%= page.year %></a>
			<%
			// check for and display link to next page
			if (next) { %>
				<a href="<%= site.basePath %>/projects/<%= next %>" class="project-nav-next">
					<%= data[next].title %>
				</a>
			<% } %>

		</nav> <%
	}
}
// end nav %>
