<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div id="container" class="container">
		<main id="content" class="page">
			<article class="page collection">
				<header>
					<h1 class="page-title"><a href="/collection">☷</a> / <%= page.title%></h1>
					<p ><%= page.type +', ' + new Date(page.date).getFullYear()%></p>
				</header>
				<%- body %>
			</article>
		</main>
  	<%- include('partials/footer') %>
  </div>
  <%- include('partials/scripts') %>
</body>
</html>
