<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div id="container" class="container">
  <%- body %>
  <%- include('partials/footer') %>
  </div>
  <%- include('partials/scripts') %>
</body>
</html>
