<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>

<section class="page-header">
  <a href="<%= site.basePath %>/" class="btn">Home</a>
<section class="main-content">

  <%- body %>

</section>
<%- include('partials/footer') %>
</body>
</html>
